.DivLogo{

    background-color: lightblue;
    padding: 15px 15px;
    border: 2px solid lightblue;

}
.DivHeader{
    position: relative;
}
div.bodycard{
    position: relative;
}
.errorMessages{

    color: red;
    font-size: 1.1em;
    width: 100%;
    margin-left: 1px;
   

}
.ng-invalid:not(form){
    border-left: 5px solid #a94442;
}