<div class="DivHeader">
    <div class="DivLogo">
        Search All
    </div>

    <div class="bodycard">
        <md-card style="background-color: #f5f5f5">


<form (ngSubmit)="onSubmit()" [formGroup]="labelForm">
    <!--First Block with product fields-->
    <div class="well">


        <div class="row">
            <div class="form-group col-sm-4">
                <label for="productDescription">Product Description</label>
                <input type="text" class="form-control" id="productDescription" placeholder="Product Description" formControlName="product_description">

            </div>
            <div class="form-group col-sm-4">
                <label for="productManufacturer">Product Manufactuer </label>
                <input type="text" class="form-control" id="productManufacturer" placeholder="Product Manufactuer" formControlName="product_manufacturer">

            </div>

            <div class="form-group col-sm-4">

                <label for="productBrand">Product Brand</label>
                <input type="text" class="form-control" id="productBrand" placeholder="Product Brand" formControlName="product_brand">

            </div>

        </div>

        <div class="row">
            <div class="form-group col-sm-4" *ngIf="listOfClass">
                <label for="classificationName">Classification Name</label>
                <select class="form-control" id="classificationName" formControlName="classification_name">
<option value="" selected>Select a Classification Name</option>
<option *ngFor="let class of listOfClass;let i = index" [value]="class.classification_name">{{class.classification_name}}</option>

</select>


            </div>
            <div class="form-group col-sm-4" *ngIf="listOfClass">
                <label for="classificationNumber">Classification Number</label>
                <select class="form-control" id="classificationNumber" formControlName="classification_number">
      <option value="" selected>Select a Classification Number</option>
      <option *ngFor="let classifi of listOfClass;let i = index" [value]="classifi.classification_number">{{classifi.classification_number}}</option>
     

</select>

            </div>
            <div class="form-group col-sm-4">
                <label for="classificationType">Classification Type  </label>
                <input type="text" class="form-control" id="classificationType" placeholder="Enter the Classification Type" formControlName="classification_type">

            </div>

        </div>

        <div class="row">

            <div class="form-group col-sm-4">

                <label for="cnfCode">CNF CODE    </label>
                <input type="text" class="form-control" id="cnfCode" placeholder="CNF CODE" formControlName="cnf_code">

                <div *ngIf="formErrors.cnf_code" class="errorMessages">
                    <span class="textPosition">  {{formErrors.cnf_code}}</span>
                </div>
            </div>

            <div class="form-group col-sm-4">
                <label for="clusterNumber">Cluster Number</label>
                <input type="text" class="form-control" id="clusterNumber" placeholder="Cluster Number" formControlName="cluster_number">
                <div *ngIf="formErrors.cluster_number" class="errorMessages">
                    <span class="textPosition"> {{formErrors.cluster_number}}</span>
                </div>
            </div>

            <div class="form-group col-sm-4">
                <label for="productComment">Product Comment</label>
                <input type="text" class="form-control" id="productComment" placeholder="Product Comment" formControlName="product_comment">

            </div>
        </div>

    </div>
    <!--End of the first block-->

    <!--Start of the second block with Market share input fields-->
    <div class="well" style="background-color:  #ebf0fa;">

<div class="flex row">


    <div class="form-group col-sm-4">
        <label for="salesUpc">Sales UPC</label>
        <input type="text" class="form-control" id="salesUpc" placeholder="Sales UPC" formControlName="sales_upc">
        <div *ngIf="formErrors.sales_upc" class="errorMessages">
            <span class="textPosition">  {{formErrors.sales_upc}}</span>
        </div>
    </div>


    <div class="form-group col-sm-4">
        <label for="salesDescription">Sales Description</label>
        <input type="text" class="form-control" id="salesDescription" placeholder="Sales Description" formControlName="sales_description">
    </div>


    <!--<div class="form-group col-sm-4">
        <label for="salesYear">Sales Year</label>
        <input type="text" class="form-control" id="salesYear" placeholder="Sales Year" formControlName="sales_year">
        <div *ngIf="formErrors.sales_upc" class="errorMessages">
            <span class="textPosition">  {{formErrors.sales_upc}}</span>
        </div>
    </div>-->



    <div class="form-group col-sm-4" *ngIf="listSalesYear">
        <label for="salesYear">Sales Year</label>
        <select class="form-control" id="salesYear" formControlName="sales_year">
<option value="" selected>Select a Sales Year</option>
<option *ngFor="let class of listSalesYear;let i = index" [value]="class.salesYear">{{class.salesYear}}</option>
</select>
    </div>



</div>

<div class="flex row">
    <div class="form-group col-sm-4">
        <label for="nielsenCategory">Nielsen Category</label>
        <input type="text" class="form-control" id="nielsenCategory" placeholder="Sales Nielsen Category" formControlName="nielsen_category">
    </div>
    <div class="form-group col-sm-4">
        <label for="salesSource">Sales Source</label>
        <input type="text" class="form-control" id="salesSource" placeholder="Sales Source" formControlName="sales_source">
    </div>

    <div class="form-group col-sm-4">
        <label for="salesCollectionDateFrom">
     Collection Date From
      </label>
        <div class="">
            <div class="input-group">

                <input class="form-control date1" id="salesCollectionDateFrom" formControlName="sales_collection_date_from" placeholder="YYYY/MM/DD"
                    type="text" [value]="" />
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
         </i>
                </div>
            </div>
        </div>
    </div>




</div>
<div class="flex row">





    <div class="form-group col-sm-4">
        <label for="SalescollectionDateTo">
     Collection Date To
      </label>
        <div class="">
            <div class="input-group">

                <input class="form-control date2" id="SalescollectionDateTo" formControlName="sales_collection_date_to" placeholder="YYYY/MM/DD"
                    type="text" [value]="" />
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
              </i>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-sm-4">
        <label for="dollarRankFrom">Dollar Rank From</label>
        <input type="text" class="form-control" id="dollarRankFrom" placeholder="Dollar Rank From" formControlName="dollar_rank_from">
        <div *ngIf="formErrors.dollar_rank_from" class="errorMessages">
            <span class="textPosition">  {{formErrors.dollar_rank_from}}</span>
        </div>

    </div>

    <div class="form-group col-sm-4">
        <label for="dollarRankTo">Dollar Rank To</label>
        <input type="text" class="form-control" id="dollarRankTo" placeholder="Dollar Rank To" formControlName="dollar_rank_to">
        <div *ngIf="formErrors.dollar_rank_to" class="errorMessages">
            <span class="textPosition">  {{formErrors.dollar_rank_to}}</span>
        </div>




    </div>


</div>

<div class="row">
    <div class="form-group col-sm-4">
        <label for="salesComment">Sales Comment</label>
        <input type="text" class="form-control" id="salesComment" placeholder="Sales Comment" formControlName="sales_comment">
    </div>
</div>


</div>

<!--End of the second block-->
<!--Start of the second block Label Inputs Fields-->

<div class="well" style="background-color: hsl(60, 100%, 98%)">

<div class="flex row">

    <div class="form-group col-sm-4">
        <label for="labelUpc">Label UPC</label>
        <input type="text" class="form-control" id="labelUpc" placeholder="Label UPC" formControlName="label_upc">
        <div *ngIf="formErrors.label_upc" class="errorMessages">
            <span class="textPosition">  {{formErrors.label_upc}}</span>
        </div>
    </div>


    <div class="form-group col-sm-4">
        <label for="labelDescription">Label Description</label>
        <input type="text" class="form-control" id="labelDescription" placeholder="Label Description" formControlName="label_description">
    </div>


    <div class="form-group col-sm-4">
        <label for="labelSource">Label Source</label>
        <input type="text" class="form-control" id="labelSource" placeholder="Source" formControlName="label_source">
    </div>
</div>

<div class=" row">


    <div class="form-group col-sm-4">
        <label for="labelIngredients">Ingredients</label>
        <input type="text" class="form-control" id="labelIngredients" placeholder="Ingredients" formControlName="label_ingredients">
    </div>
    <div class="form-group col-sm-4">
        <label for="datex">
     Collection Date From
      </label>
        <div class="">
            <div class="input-group">

                <input class="form-control date1" id="datex" formControlName="label_collection_date_from" placeholder="YYYY/MM/DD" type="text"
                    [value]="" />
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
         </i>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-sm-4">
        <label for="labelCollectionDateTo">
     Collection Date To
      </label>
        <div class="">
            <div class="input-group">

                <input class="form-control date2" id="labelCollectionDateTo" formControlName="label_collection_date_to" placeholder="YYYY/MM/DD"
                    type="text" [value]="" />
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
              </i>
                </div>
            </div>
        </div>
    </div>


</div>
<div class=" row">
    <div class="form-group col-sm-4">
        <label for="labelComment">Label Source</label>
        <input type="text" class="form-control" id="labelComment" placeholder="Label Comment" formControlName="label_comment">
    </div>

</div>
<div style="float:right;">
<button style="float:right; margin-top: 28px" type="submit" class="btn btn-primary" [disabled]="!labelForm.valid">Search</button>
</div>
</div>




</form>


</md-card>
</div>
</div>

<h2 *ngIf="emptyField">

    {{emptyField}}
</h2>
<h2 *ngIf="noData">

    {{noData}}
</h2>
<div *ngIf="isLoading">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>


<div *ngIf="serverDown">
    Something happened on the server
</div>
<div *ngIf="tableData">

    <ct-table [records]="tableData" [caption]="'ROMYYY'" [index]="index" [flag]="direction[index]" [settings]="settings" (trigger)="sortBy2($event)">

    </ct-table>
</div>

<div *ngIf="tableData">
    <pagination [pageSize]="pageSizes" [numberOfRecords]="count" [(pageOffset)]="offset" (offSetVal)="offSetVal($event)">
    </pagination>
</div>