<div>
  <div class="container">
    <div class="classificationList">
      <span class="title">{{caption}}</span>
      
    </div>
    <div class="tableData" *ngIf="records && settings">
      <table style="width:100%;">
<tr>
  <th *ngFor="let map of settings ; let i=index">

    {{map.header}} 
  </th>

</tr>
<tr *ngFor="let record of records">

    <ng-container *ngFor="let map of settings">
        
        <td *ngIf="map.primaryKey === 'sales_upc'" 
       
        (click)="passIt(record.sales_id)" style="text-decoration: underline; cursor: pointer;">
         {{ record[map.primaryKey]}} 

     </td>
             <td *ngIf="map.primaryKey != 'sales_upc'" 
     
        >
         {{ record[map.primaryKey]  }} 

     </td>
     </ng-container>
</tr>




</table>
</div>
</div>
</div>

