<div>
  <div class="container">
    <div class="classificationList">
      <span class="title">{{caption}}</span>

      <span class="glyphicon glyphicon-plus addIcon" (click)="addNewRecord()"></span>


    </div>
    </div>
    <div class="tableData" *ngIf="records && settings">
      <table>
<tr>
  <th *ngFor="let map of settings ; let i=index">

    {{map.header}}
  </th>

</tr>
<tr *ngFor="let record of records">

  <ng-container *ngFor="let map of settings; let i=index">
    
    <td *ngIf="i === 0" style="text-decoration: underline; cursor: pointer;">  <a [routerLink]='viewData(record)'>{{ record[map.primaryKey]}}
      </a>
</td>
<td *ngIf="i > 0">


  {{ record[map.primaryKey] }}

</td>
</ng-container>
</tr>




</table>
</div>




<!--<div class="container" *ngIf="flager === 2">
  <div class="classificationList">
    <span class="title">{{caption}}</span>

    <span class="glyphicon glyphicon-plus addIcon" (click)="addLabel()"></span>



  </div>
  <div class="tableData" *ngIf="records && settings">
    <table style="width:100%;">
<tr>
  <th *ngFor="let map of settings ; let i=index">

    {{map.header}}
  </th>

</tr>
<tr *ngFor="let record of records; let i=index">

  <ng-container *ngFor="let map of settings">

    <td *ngIf="i===0" style="text-decoration: underline; cursor: pointer;"> {{ record[map.primaryKey]}}

</td>
<td *ngIf="i > 0">
  {{ record[map.primaryKey] }}

</td>
</ng-container>
</tr>




</table>
</div>
</div>-->
</div>