<div class="container" *ngIf="salesData && !editFields">
<div class="row">
  <div class="col-md-6">
    <h2 style="margin-top:0px">Sales Details</h2>
</div>
<div class="col-md-6" style="text-align: right" >

<button class="btn btn-default">Delete Sales</button>
<button class="btn btn-default" (click)="callEdit()">Edit Sales</button>


</div>
</div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Label 1</a></li>
    <li><a data-toggle="tab" href="#menu1">Label 2 </a></li>
    <li><a data-toggle="tab" href="#menu2">Label 3</a></li>
    <li><a data-toggle="tab" href="#menu3">Label 4</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
  <table style="width:100%; margin-top:10px;">
    <tr>
        <th>Sales UPC</th>
        <td>{{salesData.sales_upc}}</td>
    </tr>
    <tr>
        <th>Sales Description</th>
        <td>{{salesData.sales_description}}</td>
    </tr>
        <tr>
        <th>Sales Brand</th>
        <td>{{salesData.sales_brand}}</td>
    </tr>
        <tr>
        <th>Sales Manufacturer</th>
        <td>{{salesData.sales_manufacturer}}</td>
    </tr>
        <tr>
        <th>Sales Year</th>
        <td>{{salesData.sales_year}}</td>
    </tr>
        <tr>
        <th>Sales Comment</th>
        <td>{{salesData.sales_comment}}</td>
    </tr>

        <tr>
        <th>Nielsen Category</th>
        <td>{{salesData.nielsen_category}}</td>
    </tr>
        <tr>
        <th>Classification Number</th>
        <td>{{salesData.classification_number}}</td>
    </tr>

        <tr>
        <th>Classification Type</th>
        <td>{{salesData.classification_type}}</td>
    </tr>
  </table>
    
    </div>
    <div id="menu1" class="tab-pane fade">

<table style="width:100%; margin-top:10px;">
    <tr>
        <th>Kilo volume</th>
        <td>{{salesData.kilo_volume}}</td>
    </tr>
    <tr>
        <th>Dollar volume</th>
        <td>{{salesData.dollar_volume}}</td>
    </tr>
        <tr>
        <th>Dollar rank</th>
        <td>{{salesData.dollar_rank}}</td>
    </tr>
        <tr>
        <th>Dollar volume % change</th>
        <td>{{salesData.dollar_volume_percentage_change}}</td>
    </tr>
        <tr>
        <th>Kilo volume % change</th>
        <td>{{salesData.kilo_volume_percentage_change}}</td>
    </tr>
        <tr>
        <th>Dollar volume total</th>
        <td>{{salesData.dollar_volume_total}}</td>
    </tr>

        <tr>
        <th>Kilo volume total</th>
        <td>{{salesData.kilo_volume_total}}</td>
    </tr>
        <tr>
        <th>Kilo share </th>
        <td>{{salesData.kilo_share}}</td>
    </tr>


            <tr>
        <th>Kilo volume rank</th>
        <td>{{salesData.kilo_volume_rank}}</td>
    </tr>
  </table>


    </div>
    <div id="menu2" class="tab-pane fade">

  <table style="width:100%; margin-top:10px;">
    <tr>
        <th>Average retail price</th>
        <td>{{salesData.average_retail_price}}</td>
    </tr>
    <tr>
        <th>Average ac dist</th>
        <td>{{salesData.average_ac_dist}}</td>
    </tr>
        <tr>
        <th>Product grouping</th>
        <td>{{salesData.product_grouping}}</td>
    </tr>
        <tr>
        <th>Cluster number</th>
        <td>{{salesData.cluster_number}}</td>
    </tr>
        <tr>
        <th>Number of units</th>
        <td>{{salesData.number_of_units}}</td>
    </tr>
        <tr>
        <th>Control label flag?</th>
        <td>{{salesData.control_label_flag}}</td>
    </tr>

        <tr>
        <th>Nielsen Category</th>
        <td>{{salesData.nielsen_category}}</td>
    </tr>

  </table>

    </div>
    <div id="menu3" class="tab-pane fade">
  <table style="width:100%; margin-top:10px;">
    <tr>
        <th>Collection date</th>
        <td>{{salesData.sales_collection_date}}</td>
    </tr>
    <tr>
        <th>Creation date</th>
        <td>{{salesData.creation_date}}</td>
    </tr>
        <tr>
        <th>Last edit date</th>
        <td>{{salesData.last_edit_date}}</td>
    </tr>
        <tr>
        <th>Edited by</th>
        <td>{{salesData.edited_by}}</td>
    </tr>


  </table>





    </div>
  </div>
</div>
<div *ngIf="editFields">
<edit-sales [salesField]="editFields"
              (callP)="receiveCall($event)"
      
      >

</edit-sales>
</div>
<confirm-box [flag]="flag"></confirm-box>