<div class="container" *ngIf="salesData">
    <div style="margin-bottom:10px">

        <h2>Sales Details</h2>
    </div>
    <div class="row">
        <div class="col-md-6">


            <button class="btn btn-default" (click)="callViewProduct()" style="margin-top:0px">View Product</button>
        </div>

        <div class="col-md-6" style="text-align: right">

            <button class="btn btn-default" (click)="callDelete()" [disabled]="submitted">Delete Sales</button>
            <button class="btn btn-default" (click)="callEdit()" [disabled]="submitted">Edit Sales</button>
            <button class="btn btn-default" (click)="callRelink()" [disabled]="submitted">Relink Sales</button>


        </div>
    </div>


    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#home">Tab 1</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu1">Tab 2</a>
        </li>
   
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <!--Start of the first tab-->
            <dl class="dl-horizontal">
                <dt>Sales UPC</dt>
                <dd>{{salesData.sales_upc}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Sales Description</dt>
                <dd>{{salesData.sales_description}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Control Label Flag?</dt>
                <dd>{{salesData.control_label_flag}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Dollar Volume</dt>
                <dd>{{salesData.dollar_volume}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Dollar Share</dt>
                <dd>{{salesData.dollar_share}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Dollar Rank</dt>
                <dd>{{salesData.dollar_rank}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Dollar Volume % Change</dt>
                <dd>{{salesData.dollar_volume_percentage_change}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Kilo Volume</dt>
                <dd>{{salesData.kilo_volume}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Kilo Share</dt>
                <dd>{{salesData.kilo_share}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Kilo Rank</dt>
                <dd>{{salesData.kilo_volume_rank}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Kilo Volume % Change</dt>
                <dd>{{salesData.kilo_volume_percentage_change}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Average AC Dist</dt>
                <dd>{{salesData.average_ac_dist}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Average Retail Price</dt>
                <dd>{{salesData.average_retail_price}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Dollar Volume Total</dt>
                <dd>{{salesData.dollar_volume_total}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Kilo Volume Total</dt>
                <dd>{{salesData.kilo_volume_total}}</dd>
            </dl>
            <!--End of the first tab-->
        </div>
        <div id="menu1" class="tab-pane fade">
            <!--Start of the second tab-->
            <dl class="dl-horizontal">
                    <dt>Nielsen Category</dt>
                    <dd>{{salesData.nielsen_category}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Collection Date</dt>
                <dd>{{salesData.sales_collection_date}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Sales Year</dt>
                <dd>{{salesData.sales_year}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Source</dt>
                <dd>{{salesData.sales_source}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Classification Number</dt>
                <dd>{{salesData.classification_number}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Classification Type</dt>
                <dd>{{salesData.classification_type}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Brand</dt>
                <dd>{{salesData.sales_brand}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Manufacturer</dt>
                <dd>{{salesData.sales_manufacturer}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Product Grouping</dt>
                <dd>{{salesData.product_grouping}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Cluster Number</dt>
                <dd>{{salesData.cluster_number}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Number of Units</dt>
                <dd>{{salesData.number_of_units}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Comment</dt>
                <dd>{{salesData.sales_comment}}</dd>
            </dl>
            <dl class="dl-horizontal">
                    <dt>Creation Date</dt>
                    <dd>{{salesData.creation_date}}</dd>
            </dl>
            <dl class="dl-horizontal">
                    <dt>Last Edit Date</dt>
                    <dd>{{salesData.last_edit_date}}</dd>
            </dl>
            <dl class="dl-horizontal">
                    <dt>Edited By</dt>
                    <dd>{{salesData.edited_by}}</dd>
            </dl>
    
            <!--End of the second tab-->

        </div>

    </div>



</div>

<confirm-box [flag]="flag"></confirm-box>
<modal-box [modalType]="type" (fireBack)="responseFromModal($event)">
</modal-box>