<div style="background-color:white; padding:20px; border:1px solid lightgray; background-color:transparent">
    <span style="margin-left:10px; font-size:1.5em">Import File</span>

    <div class="row" style="display: flex; min-height:300px">
        <div style="background-color:white; width:48%; margin-left: 25px;margin-right:10px; border:1.5px solid lightgray;">

            <form (ngSubmit)="onSubmit()" [formGroup]="importCsvFileForm" enctype="multipart/form-data" class="form-horizontal" style="margin-top:13%">

                <div class="form-group">
                    <label class="control-label col-sm-3" for="file">Select a file:</label>
                    <div class="col-sm-9">
                        <input type="file" class="form-control" id="file" formControlName="csv_file" (change)="validateFile($event)" style="width:100%">
                    </div>
                </div>

                <div class="form-group">
                        
                        <label class="control-label col-sm-3 required"  for="Type">Type: </label>
                        <div class="col-sm-9">
                        <select class="form-control" id="Type" formControlName="type" style="width:100%" required>
        
                            <option value="1" selected>Market Share</option>
                            <option value="2">Label</option>
                           
        
                        </select>
                </div>
                    </div>
                    <div class="row">
                            <button style="float:right; margin-right:20px; width:80px" type="submit" class="btn btn-default" [disabled]="!importCsvFileForm.valid || submitted || !validFile || !validSize">Import</button>

                    </div>

            </form>


            <div class="alert alert-danger" *ngIf="errorMessage" style="margin:6px">
                    <strong>Error!</strong> {{errorMessage}}
                  </div>
                  <div *ngIf="isLoading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </div>
        </div>
        <div style="background-color:white; width:48%;margin-left: 10;margin-right:25px; border:1.5px solid lightgray; ">
            <div style="margin-left:10px; font-size:1.5em; font-weight:bolder; margin-top: 12px;">Required Format</div>

            <table>
                <tr>
                    <td>Max File Size</td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>Supported File Type:</td>
                    <td>CSV</td>
                </tr>
                <tr>
                    <td>Character Encoding: </td>
                    <td>UTF-8</td>
                </tr>
                <tr>
                    <td>Delimiter</td>
                    <td>Commat (,)</td>
                </tr>
                <tr>
                    <td>Has Column Header?</td>
                    <td>Yes</td>
                </tr>
            </table>

        </div>
    </div>
</div>