td, th {
    padding: 9px;
    border: none;
}
th{
    text-align: left;

}
tr:nth-child(even){
    background-color: #f0f5f5;
}





table{
    border-collapse: collapse;
        width: 100%;
        margin-top: 12px;
    
}
/* tr:last-child, th{
  border-bottom:   1px solid lightgray;
} */
td:last-child{
    text-align: right;
}

tr:nth-child(1){
    border-top:   1px solid lightgray;
}
td:nth-child(1){
    font-weight: bolder;
}

.selected{
    font-weight: bold;
    color: crimson;
}
.selectedSales{
    font-weight: bold;
    color: darkblue;
}