<div class="DivHeader">
  <div class="DivLogo">
    Search Label
  </div>
</div>

<mat-card style="background-color: hsl(60, 100%, 98%)">
  <div class="well2" >
<form (ngSubmit)="onSubmit()" [formGroup]="labelForm">

  <!--<div class="row">-->

  <div class="flex row">

    <div class="form-group col-lg-4">
      <label for="labelUpc">Label UPC</label>
      <input type="text" class="form-control" id="labelUpc" placeholder="Label UPC" formControlName="labelUpc">
       <div *ngIf="formErrors.labelUpc" class="errorMessages">
            <span class="textPosition">  {{formErrors.labelUpc}}</span>
    </div>
    </div>


    <div class="form-group col-lg-4">
      <label for="labelDescription">Label Description</label>
      <input type="text" class="form-control" id="labelDescription" placeholder="Label Description" formControlName="labelDescription">
    </div>


    <div class="form-group col-lg-4">
      <label for="labelSource">Label Source</label>
      <input type="text" class="form-control" id="labelSource" placeholder="Source" formControlName="labelSource">
    </div>
  </div>

  <div class=" row">


    <div class="form-group col-lg-4">
      <label for="labelIngredients">Ingredients</label>
      <input type="text" class="form-control" id="labelIngredients" placeholder="Ingredients" formControlName="labelIngredients">
    </div>


    <div class="form-group col-lg-4">
      <label for="collectionDateFrom">Collection Date From</label>
   
  <input class="form-control" type="date" id="collectionDateFrom"  formControlName="collectionDateFrom">

</div>

<div class="form-group col-lg-4">
<label for="collectionDateTo">Collection Date To</label>

<input class="form-control" type="date" id="collectionDateTo"  formControlName="collectionDateTo">

</div>
  </div>

  <div class=" row">
    <div style="float: right; margin-right: 15px">
<button style="margin-top: 28px; width:140px;" type="submit" class="btn btn-default" [disabled]="!labelForm.valid">Search</button>
<!--<button type='reset' md-raised-button>RESET</button>-->
</div>
</div>

</form>
</div>


</mat-card>


<!--<div *ngIf="tableData">-->
<!--<table-template [tableValues]="tableData"></table-template>-->
<h2 *ngIf="emptyField">

  {{emptyField}}
</h2>
<h2 *ngIf="noData">

  {{noData}}
</h2>
<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="serverDown">
  Something happened on the server
</div>
<div *ngIf="tableData">

  <ct-table [records]="tableData" [caption]="'ROMYYY'" [index]="index" [flag]="direction[index]" [settings]="settings" (trigger)="sortBy2($event)">

  </ct-table>
</div>
<!--<pagination (offSet) = "onPageChange($event)"-->
<pagination [pageSize]="pageSizes" [numberOfRecords]="count" [(pageOffset)]="offset" (offSetVal)="offSetVal($event)">
</pagination>