 
<div class="DivHeader">
  <div class="DivLogo">
    Search Label
  </div>

  <div class="bodycard">
    <md-card>

      <md-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="labelForm">


          <div class="flex row">
    
           <div>
            <md-input-container>
              <input mdInput placeholder="Label UPC" formControlName="label_upc">
            </md-input-container>
            </div>

                       <div>
            <md-input-container>
              <input mdInput placeholder="Label Description" formControlName="label_description">
            </md-input-container>
            </div>
           <div>
            <md-input-container>
              <input mdInput placeholder="Source" formControlName="label_source">
            </md-input-container>
            </div>
 

          </div>
          <div class="flex row">
            <div>
            <md-input-container>
              <input mdInput placeholder="Ingredients" formControlName="label_ingredients">
            </md-input-container>
            </div>

          </div>
          <div class="flex row">

            <div>
              <md-input-container>
                <input mdInput placeholder="Collection Date From" [mdDatepicker]="pickerFrom" formControlName="collection_date_from">
                <button style="font-size: 1.2em;" mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
              </md-input-container>
              <md-datepicker #pickerFrom></md-datepicker>
            </div>

        <div>
              <md-input-container>
                <input mdInput placeholder="Collection Date to" [mdDatepicker]="pickerTo" formControlName="collection_date_to">
                <button style="font-size: 1.2em;" mdSuffix [mdDatepickerToggle]="pickerTo"></button>
              </md-input-container>
              <md-datepicker #pickerTo></md-datepicker>
            </div>
          </div>





          <md-card-actions>
            <div style="float: right">
<button md-raised-button type="submit" [disabled]="!labelForm.valid">SUBMIT</button>
<button type='reset' md-raised-button>RESET</button>
</div>
</md-card-actions>

</form>
</md-card-content>

</md-card>
</div>
</div>

<!--<div *ngIf="tableData">-->
<!--<table-template [tableValues]="tableData"></table-template>-->
<h2 *ngIf="emptyField">

  {{emptyField}}
</h2>
<h2 *ngIf="noData">

  {{noData}}
</h2>

<div *ngIf="tableData">
  
  <ct-table [records]="tableData" 
            [caption]="'ROMYYY'" 
            [index]="index" 
            [flag]="direction[index]"
            [settings]="settings"
             (trigger)="sortBy2($event)">

  </ct-table>
</div>
<!--<pagination (offSet) = "onPageChange($event)"-->
<pagination [pageSize]="pageSizes" [numberOfRecords]="count" [(pageOffset)]="offset" (offSetVal)="offSetVal($event)">
</pagination>

