<div class="DivHeader" style="margin-bottom: 60px;">
<div class="DivLogo">
    Create Sales
</div>

<div class="bodycard">
    <mat-card style="background-color: #f5f5f5">

<div class="well2">

    <form (ngSubmit)="onSubmit()" [formGroup]="salesForm">



        <div class="row">

            <div class="form-group col-sm-4">
                <label for="salesUPC" class="required">Sales UPC <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="salesUPC" placeholder="Sales UPC" formControlName="sales_upc">
                <div *ngIf="formErrors.sales_upc" class="errorMessages">
                    <span class="textPosition">  {{formErrors.sales_upc}}</span>
                </div>

            </div>

            <div class="form-group col-sm-4">

                <label for="dollarVolume" class="required">Dollar Volume <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="dollarVolume" placeholder="Dollar Volume" formControlName="dollar_volume">
                <div *ngIf="formErrors.dollar_volume" class="errorMessages">
                    <span class="textPosition">  {{formErrors.dollar_volume}}</span>
                </div>

            </div>


            <div class="form-group col-sm-4">

                <label for="KiloVolume" class="required">Kilo Volume <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="KiloVolume" placeholder="Kilo Volume" formControlName="kilo_volume">

                <div *ngIf="formErrors.kilo_volume" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_volume}}</span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-sm-4">
                <label for="salesYear">Sales Year</label>
                <input type="text" class="form-control" id="salesYear" placeholder="Sales Year" formControlName="sales_year">
                               
                <div *ngIf="formErrors.sales_year" class="errorMessages">
                    <span class="textPosition">  {{formErrors.sales_year}}</span>
                </div>
            </div>


            <div class="form-group col-sm-4">

                <label for="NielsenCategory" class="required">Nielsen Category <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="NielsenCategory" placeholder="Nielsen Category" formControlName="nielsen_category">
                <div *ngIf="formErrors.nielsen_category" class="errorMessages">
                    <span class="textPosition">  {{formErrors.nielsen_category}}</span>
                </div>
            </div>


            <div class="form-group col-sm-4">

                <label for="salesSource">Sales Source</label>
                <input type="text" class="form-control" id="salesSource" placeholder="Sales Source" formControlName="sales_source">
                <!--
                <div *ngIf="formErrors.kilo_volume" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_volume}}</span>
                </div>-->
            </div>
        </div>


        <div class="row">

            <div class="form-group col-sm-4">
                <label for="salesDescription" class="required">Sales Description <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="salesDescription" placeholder="Sales Description" formControlName="sales_description">
                <div *ngIf="formErrors.sales_description" class="errorMessages">
                    <span class="textPosition">  {{formErrors.sales_description}}</span>
                </div>
            </div>

            <div class="form-group col-sm-4">

                <label for="SalesComment">Sales Comment</label>
                <input type="text" class="form-control" id="SalesComment" placeholder="Sales Comment" formControlName="sales_comment">

            </div>

            <div class="form-group col-sm-4">
                <label for="SalescollectionDate">
     Collection Date 
      </label>
                <div class="">
                    <div class="input-group">

                        <input class="form-control date2" id="SalescollectionDate" formControlName="sales_collection_date" placeholder="YYYY/MM/DD"
                            type="text" [value]="" />
                        <div class="input-group-addon">
                            <i class="fa fa-calendar">
              </i>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">

            <div class="form-group col-sm-4">
                <label for="salesBrand">Sales Brand</label>
                <input type="text" class="form-control" id="salesBrand" placeholder="Sales Brand" formControlName="sales_brand">

            </div>

            <div class="form-group col-sm-4">

                <label for="DollarRank">Dollar Rank</label>
                <input type="text" class="form-control" id="DollarRank" placeholder="Dollar Rank" formControlName="dollar_rank">
                <div *ngIf="formErrors.dollar_rank" class="errorMessages">
                    <span class="textPosition">  {{formErrors.dollar_rank}}</span>
                </div>
            </div>


            <div class="form-group col-sm-4">

                <label for="DollarVolumePercentageChange" class="required">Dollar Volume % Change <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="DollarVolumePercentageChange" placeholder="Dollar Volume % Change" formControlName="dollar_volume_percentage_change">

                <div *ngIf="formErrors.dollar_volume_percentage_change" class="errorMessages">
                    <span class="textPosition">  {{formErrors.dollar_volume_percentage_change}}</span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-sm-4">
                <label for="KiloVolumePercentageChange" class="required">Kilo Volume % Change <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="KiloVolumePercentageChange" placeholder="Kilo Volume % Change" formControlName="kilo_volume_percentage_change">
                <div *ngIf="formErrors.kilo_volume_percentage_change" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_volume_percentage_change}}</span>
                </div>
            </div>

            <div class="form-group col-sm-4">

                <label for="AverageAcDist">Average AC Dist</label>
                <input type="text" class="form-control" id="AverageAcDist" placeholder="Average AC Dist" formControlName="average_ac_dist">
                <div *ngIf="formErrors.average_ac_dist" class="errorMessages">
                    <span class="textPosition">  {{formErrors.average_ac_dist}}</span>
                </div>
            </div>


            <div class="form-group col-sm-4">

                <label for="AverageRetailPrice">Average Retail Price</label>
                <input type="text" class="form-control" id="AverageRetailPrice" placeholder="Average Retail Price" formControlName="average_retail_price">
                <div *ngIf="formErrors.average_retail_price" class="errorMessages">
                    <span class="textPosition">  {{formErrors.average_retail_price}}</span>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="form-group col-sm-4">
                <label for="DollarVolumeTotal" class="required">Dollar Volume Total <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="DollarVolumeTotal" placeholder="Dollar Volume Total" formControlName="dollar_volume_total">
                <div *ngIf="formErrors.dollar_volume_total" class="errorMessages">
                    <span class="textPosition">  {{formErrors.dollar_volume_total}}</span>
                </div>
            </div>

            <div class="form-group col-sm-4">

                <label for="KiloVolumeTotal" class="required">Kilo Volume Total <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="KiloVolumeTotal" placeholder="Kilo Volume Total" formControlName="kilo_volume_total">
                <div *ngIf="formErrors.kilo_volume_total" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_volume_total}}</span>
                </div>
            </div>


            <!--
                <div *ngIf="formErrors.kilo_volume" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_volume}}</span>
                </div>-->



            <div class="form-group col-sm-4">
                <label for="ControlLabelFlag">Type</label>
                <select class="form-control" id="ControlLabelFlag" formControlName="control_label_flag">

			<option value="" selected>Control label flag?</option>
			  <option value="1" >Yes</option>
			<option value="0">No</option>
			 </select>
            </div>



        </div>
        <div class="row">

            <div class="form-group col-sm-4">
                <label for="DollarShare" class="required">Dollar Share <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="DollarShare" placeholder="Dollar Share" formControlName="dollar_share">
                <div *ngIf="formErrors.dollar_share" class="errorMessages">
                    <span class="textPosition">  {{formErrors.dollar_share}}</span>
                </div>

            </div>

            <div class="form-group col-sm-4">

                <label for="KiloShare" class="required">Kilo Share <strong class="required">(required)</strong></label>
                <input type="text" class="form-control" id="KiloShare" placeholder="Kilo Share" formControlName="kilo_share">
                <div *ngIf="formErrors.kilo_share" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_share}}</span>
                </div>

            </div>


            <div class="form-group col-sm-4">

                <label for="ClusterNumber"> Cluster Number</label>
                <input type="text" class="form-control" id="ClusterNumber" placeholder="Cluster Number" formControlName="cluster_number">

                <div *ngIf="formErrors.cluster_number" class="errorMessages">
                    <span class="textPosition">  {{formErrors.cluster_number}}</span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group col-sm-4">
                <label for="KiloRank">Kilo Rank</label>
                <input type="text" class="form-control" id="KiloRank" placeholder="Kilo Rank" formControlName="kilo_rank">
                <div *ngIf="formErrors.kilo_rank" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_rank}}</span>
                </div>
            </div>

            <div class="form-group col-sm-4">

                <label for="SalesManufacturer">Sales Manufacturer</label>
                <input type="text" class="form-control" id="SalesManufacturer" placeholder="Sales Manufacturer" formControlName="sales_manufacturer">

            </div>

            <div class="form-group col-sm-4" *ngIf="listOfClass">
                <label for="classificationNumber">Classification Number</label>
                <select class="form-control" id="classificationNumber" formControlName="classification_number">
      <option value="" selected>Select a Classification Number</option>
      <option *ngFor="let classifi of listOfClass;let i = index" [value]="classifi.classification_number">{{classifi.classification_number}}</option>
     

<!--<option *ngFor="let class_number of Classification_number" [value] = "class_number">{{class_number}}</option>-->
</select>

            </div>

        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="kiloVolumeRank">Kilo Volume Rank</label>
                <input type="text" class="form-control" id="kiloVolumeRank" placeholder="Kilo Volume Rank" formControlName="kilo_volume_rank">
                <div *ngIf="formErrors.kilo_volume_rank" class="errorMessages">
                    <span class="textPosition">  {{formErrors.kilo_volume_rank}}</span>
                </div>
            </div>
                   <div class="form-group col-sm-4">
                <label for="numberOfUnits">Number of units</label>
                <input type="text" class="form-control" id="numberOfUnits" placeholder="Number of units" formControlName="number_of_units">
                <div *ngIf="formErrors.number_of_units" class="errorMessages">
                    <span class="textPosition">  {{formErrors.number_of_units}}</span>
                </div>
            </div>
       
       
                        <div class="form-group col-sm-4">
                <label for="classificationType">Classification Type  </label>
                <input type="text" class="form-control" id="classificationType" placeholder="Enter the Classification Type" formControlName="classification_type">

            </div>

</div>
<div class="row">
            <div class="form-group col-sm-12">
                <button style="float:right; margin-top: 28px; width:140px" type="submit" class="btn btn-default" [disabled]="!salesForm.valid || salesForm.pristine || isLoading || submitted">Save</button>
</div>

</div>
</form>
</div>

</mat-card>
</div>
</div>

<confirm-box [flag]="flag"  *ngIf="flag"></confirm-box>

<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="message">
    {{message}}
</div>