td {
    padding: 9px;
    border: none;
}
th{
    padding: 9px;
    text-align: left;
    border-top: 1px solid lightgray;

}
tr:nth-child(even){
    background-color: #f0f5f5;
}


th:last-child, td:last-child{
border-right: 1px solid lightgray;
/*border-left:1px solid lightgray;*/

}

th:first-child, td:first-child{
border-left: 1px solid lightgray;
}
table{
    border-collapse: collapse;
        width: 100%;
    margin-bottom: 20px;
}
tr:last-child, th{
  border-bottom:   1px solid lightgray;
}
td:last-child{
    text-align: right;
}
.imageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.box{
    width: 33.3333%;
    flex:1;
    height: 180px;
    margin:10px;
}

/*.panel-heading{
    padding: 1.5px;
}
.panel-body{
    padding: 2px;
}*/
.close{
    position: relative;
    top: 4px;
    right: 27px;
    z-index: 10;
    font-size: 2em;
}