<div class="container" *ngIf="packageData">
<div class="row">
  <div class="col-md-6">
    <h2 style="margin-top:0px">Package Details</h2>
</div>
<div class="col-md-6" style="text-align: right" >



</div>
</div>



<table style="width:100%; margin-top:10px;">
    <tr>
        <th>Label Description</th>
        <td>{{packageData.package_description}}</td>
    </tr>
    <tr>
        <th>Label UPC</th>
        <td>{{packageData.package_upc}}</td>
    </tr>
        <tr>
        <th>Package Brand</th>
        <td>{{packageData.package_brand}}</td>
    </tr>
        <tr>
        <th>Package Manufacturer</th>
        <td>{{packageData.package_manufacturer}}</td>
    </tr>
        <tr>
        <th>Package Country</th>
        <td>{{packageData.package_country}}</td>
    </tr>
        <tr>
        <th>Net Quantity</th>
        <td>{{packageData.package_size}}</td>
    </tr>

        <tr>
        <th>Net Quantity Unit of MEasure</th>
        <td>{{packageData.package_size_unit_of_measure}}</td>
    </tr>
        <tr>
        <th>Storage Type</th>
        <td>{{packageData.storage_type}}</td>
    </tr>

        <tr>
        <th>Storage Statements</th>
        <td>{{packageData.storage_statements}}</td>
    </tr>
    <tr>
        <th>Health Claims</th>
        <td>{{packageData.health_claims}}</td>
    </tr>
    <tr>
        <th>Other Package Statements</th>
        <td>{{packageData.other_package_statements}}</td>
    </tr>
        <tr>
        <th>Suggested Direction</th>
        <td>{{packageData.suggested_directions}}</td>
    </tr>
        <tr>
        <th>Ingredients</th>
        <td>{{packageData.ingredients}}</td>
    </tr>
        <tr>
        <th>Multi Part Flag</th>
        <td>{{packageData.multi_part_flag}}</td>
    </tr>
        <tr>
        <th>Nutrition Fact Table</th>
        <td>{{packageData.nutrition_fact_table}}</td>
    </tr>

        <tr>
        <th>Per Serving Amount (as Prepared)</th>
        <td>{{packageData.as_prepared_per_serving_amount}}</td>
    </tr>
        <tr>
        <th>Per Serving Amount Unit of Measure (as Prepared)</th>
        <td>{{packageData.as_prepared_unit_of_measure}}</td>
    </tr>


            <tr>
        <th>Per Serving Amount (as Sold)</th>
        <td>{{packageData.as_sold_per_serving_amount}}</td>
    </tr>
     <tr>
        <th>Per Serving Amount Unit of Measure (as Prepared)<</th>
        <td>{{packageData.as_sold_unit_of_measure}}</td>
    </tr>
    <tr>
        <th>Per Serving Amount in Grams (as prepared)</th>
        <td>{{packageData.as_prepared_per_serving_amount_in_grams}}</td>
    </tr>
        <tr>
        <th>Per Serving Amount in Grams (as sold)</th>
        <td>{{packageData.as_sold_per_serving_amount_in_grams}}</td>
    </tr>
        <tr>
        <th>Package Comment</th>
        <td>{{packageData.package_comment}}</td>
    </tr>
        <tr>
        <th>Package Source</th>
        <td>{{packageData.package_source}}</td>
    </tr>
        <tr>
        <th>Product Description</th>
        <td>{{packageData.package_product_description}}</td>
    </tr>

        <tr>
        <th>Collection Date</th>
        <td>{{packageData.package_collection_date}}</td>
    </tr>
        <tr>
        <th>Number of Units </th>
        <td>{{packageData.number_of_units}}</td>
    </tr>
    <tr>
        <th>Edited By</th>
        <td>{{packageData.edited_by}}</td>
    </tr>
        <tr>
        <th>Informed  Dining Program</th>
        <td>{{packageData.informed_dining_program}}</td>
    </tr>
        <tr>
        <th>Nft Last Update Date</th>
        <td>{{packageData.nft_last_update_date}}</td>
    </tr>

    <!---------------->
       <tr>
        <th>Product Grouping</th>
        <td>{{packageData.product_grouping}}</td>
    </tr>
        <tr>
        <th>Child Item</th>
        <td>{{packageData.child_item}}</td>
    </tr>
        <tr>
        <th>Classification Number</th>
        <td>{{packageData.classification_number}}</td>
    </tr>
        <tr>
        <th>Classification Name</th>
        <td>{{packageData.classification_name}}</td>
    </tr>
        <tr>
        <th>Nielsen Item Rank</th>
        <td>{{packageData.nielsen_item_rank}}</td>
    </tr>

        <tr>
        <th>Nutrient Claims</th>
        <td>{{packageData.nutrient_claims}}</td>
    </tr>
        <tr>
        <th>Nielsen Category </th>
        <td>{{packageData.package_nielsen_category}}</td>
    </tr>
    <tr>
        <th>Common Household Measure</th>
        <td>{{packageData.common_household_measure}}</td>
    </tr>
        <tr>
        <th>Creation Date</th>
        <td>{{packageData.creation_date}}</td>
    </tr>
        <tr>
        <th>Last Edit Date</th>
        <td>{{packageData.last_edit_date}}</td>
    </tr>
            <tr>
        <th>Calculated?</th>
        <td>{{packageData.calculated}}</td>
    </tr>
  </table>


  


</div>

