.homeIcon{

    font-size: 170%
}
.title{

    font-size: 200%
}
.headerCard{
    top:0;
    background-color: #33cccc;
   position: fixed;
    width: 100%;
    height: 130px;
    z-index: 99;
}
.groupHeader{
    position: absolute;
    padding-left: 2.5%;
    padding-top: 40px;
    /*z-index: 99;*/
}


/*.navigation{
overflow: hidden;

margin-bottom: -4px;
}*/


  ul{
      
      list-style-type: none;
      
     padding: 0;
     margin: 0;
     overflow: hidden;
     margin-bottom: 5px;
  
  }
li a{
    text-decoration: none;
    padding: 18px;
    display: block;
    background-color: white;
    text-transform: uppercase;
}
ul li{
    
  
     
     float: left;
        
}

* {
    filter: blue(.0px);
    perspective: 1000;
    backface-visibility: hidden;
}
.navBar{
    position: fixed;
    margin: 130px auto 0;
    height: 40px;
    width: 100%;
    border-bottom-color: #33cccc;
}
.content{
    margin: 195px auto 0;
    z-index: 100;
}


/*html, html a, *{
  -webkit-transform: translate3d(0,0,0) !important;
  transform: translate3d(0,0,0) !important;
}*/
/** {
    font-family: Roboto, sans-serif;
}*/