<md-card class="headerCard">
    <div class="groupHeader">
   <span class="homeIcon">
    <md-icon>home</md-icon> 
  </span>
    <span class="title">
    Food Component Data Repository
    </span>
    </div>
   </md-card>
   
     <ul>
        <li> <a  routerLink="/search" style="border-bottom: 2.2px solid #33cccc ">search product</a> </li>
        <li>  <a href="#">Create Product</a> </li>
        <li>  <a href="#">Import Data</a> </li>

     </ul>
     

  
 




   <router-outlet></router-outlet>
<!--<form-comp></form-comp>-->
<!--<ct-project-center></ct-project-center>-->
