<div class="alignPagination" *ngIf="numberOfRecords >0">
    <div *ngIf="page">

        <div class="custom custom2" *ngIf="pageOffset>0" (click)="DecreaseOffset()">
            <span> ⇚ Previous</span>
        </div>

        <ng-container *ngFor="let pg of page; let i = index">

            <div class="custom" (click)="updateOffset(pg)" [ngClass]="{'selected': pg === pageOffset}">
                <span>{{pg}} </span>
            </div>
        </ng-container>




        <ng-container *ngIf="pageOffset < numberOfPage -1">
            <div class="custom custom2" (click)="Increaseffset()">
                <span>Next ⇛</span>
            </div>
        </ng-container>

    </div>


</div>