<div *ngIf="!editFields">
<div class="row">
  <div class="col-md-6">
    <h2 style="margin-top:0px">Product Details</h2>
</div>
<div class="col-md-6" style="text-align: right" >

<button class="btn btn-default">Delete Product</button>
<!--<a class="btn btn-default" routerLink="./editProduct" routerLinkActive="active">Edit Product</a>-->

<button class="btn btn-default" (click)="callEdit()">Edit Product</button>


</div>
</div>


<div *ngIf="params" class="viewProduct">
  <table style="width:100%; margin-top:10px;">

<tr>
  <th>Classification Name</th>
  <td>{{params.classification_name}}</td>
</tr>

<tr>
  <th>Classification Number</th>
  <td>{{params.classification_number}}</td>

</tr>
<tr>
  <th>Classification Type</th>
  <td>{{params.classification_type}}</td>

</tr>
<tr>
  <th>Manufacturer</th>
  <td>{{params.product_manufacturer}}</td>
</tr>

<tr>
  <th>Brand</th>
  <td>{{params.product_brand}}</td>

</tr>
<tr>
  <th>CNF CODE</th>
  <td>{{params.cnf_code}}</td>

</tr>
<tr>
  <th>Cluster Number</th>
  <td>{{params.cluster_number}}</td>

</tr>

<tr>
  <th>Description</th>
  <td>{{params.product_description}}</td>

</tr>
<tr>
  <th>Restaurant Type</th>
  <td>{{params.restaurant_type}}</td>

</tr>
<tr>
  <th>Type</th>
  <td>{{params.type}}</td>

</tr>
</table>
<table style="width:100%; margin-top:10px;">

<tr>
  <th>Creation Date</th>
  <th>Last Edit date</th>
  <th>Edited By</th>
</tr>
<tr>
  <td>{{params.creation_date}}</td>
  <td>{{params.last_edit_date}}</td>
  <td>{{params.edited_by}}</td>
</tr>
</table>

</div>
</div>
<!--<div *ngIf="editFields">
<edit-product [product]="editFields"
              (callP)="receiveCall($event)"
      
      >-->

<!--</edit-product>
</div>-->
<!--<confirm-box [flag]="flag"></confirm-box>-->

<div *ngIf="salesData" class="displayTables">
  <custom-table [records]="salesData" 
                [caption]="'Sales Records'" 
                [settings]="settingsSales"
                [flager]="1"
                (addRecord)="addNewRecord($event)"
              >

  </custom-table>

</div>

  <div *ngIf="labelData" class="displayTables">
  <custom-table [records]="labelData" 
                [caption]="'Label Records'" 
                [settings]="settingsLabel"
                [flager]="2"
                (addRecord)="addNewRecord($event)"

                >

  </custom-table>

  </div>
