
<div class="viewProduct">
  
<div *ngIf="productForm">

    <div class="formContent">
        <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
            <div style="margin-bottom: 1em; " class="productHeader">
<span class="productDetails">Product Details</span>
<span class="buttons">
<button md-raised-button type="submit" [disabled]="productForm.pristine || !productForm.valid">Save Changes</button>
<button type="reset"  (click)="revert()" md-raised-button [disabled]="productForm.pristine" style="background-color:lightseagreen">REVERT</button>
</span>
</div>

<div class="formContent">
    <div class="flex" *ngIf="listOfClass != null">
          
            <md-select placeholder="Classification Name" formControlName="classificationName">
                 <md-option [value]=""></md-option>
                <md-option *ngFor="let class of listOfClass.cl;let i = index" [value]="class.classificationName">{{class.classificationName}}</md-option>

            </md-select>
       
 
            <md-select  placeholder="Classification Number" formControlName="classificationNumber">
                <md-option [value]=""></md-option>
                <md-option *ngFor="let classif of listOfClass.cl;let i = index" [value]="classif.classificationNumber">{{classif.classificationNumber}}</md-option>

            </md-select>
         
    </div>
    <div class="flex row">
            <div>
            <md-input-container>
                <input mdInput placeholder="Classification Type" formControlName="classificationType">
            </md-input-container>
            </div>
          <div>
            <md-input-container>
                <input mdInput placeholder="Manufactuer" formControlName="productManufacturer">
                
            </md-input-container>
        </div>
    </div>
    <div class="flex row">

        <div>
            <md-input-container>
                <input mdInput placeholder="Brand" formControlName="productBrand">
            </md-input-container>
        </div>
        <div>

            <md-input-container>
                <input mdInput placeholder="CNF CODE" formControlName="cnfCode">
            </md-input-container>
            <div *ngIf="formErrors.cnf_code" class="errorMessages">
                <span class="textPosition">  {{formErrors.cnf_code}}</span>
            </div>
        </div>
        <div>
            <md-input-container>
                <input mdInput placeholder="Cluster Number" formControlName="clusterNumber">
            
            </md-input-container>
            <div *ngIf="formErrors.cluster_number" class="errorMessages">
                <span class="textPosition"> {{formErrors.cluster_number}}</span>
            </div>
        </div>

    </div>



    <div class="flex row">


        <div> 
            <md-input-container >
                <input mdInput placeholder="Description" formControlName="productDescription">
            
            </md-input-container>

            <div *ngIf="formErrors.product_description" class="errorMessages">
                <span class="textPosition">   {{formErrors.product_description}}</span>
            </div>
        </div>
   
    </div>

    <div class="flex row" style="margin-bottom: -32px;">
        <div>
            <md-input-container>
                <input mdInput #comment maxlength="256" placeholder="Comment" formControlName="productComment">
                <md-icon mdSuffix>delete</md-icon>
                <md-hint align="start"><strong>Let's add something here</strong></md-hint>
                <md-hint align="end">{{comment.value.length}} / 256</md-hint>
            </md-input-container>
        </div>
    </div>

    <!--<div formArrayName="classification_list">
        <div *ngFor="let classification of classification_list.controls; let i=index" [formGroupName]="i" >
     
             <div class="flex row">
          <div>
            <md-input-container>
                <input mdInput placeholder="Classification Name" formControlName="classification_name">
            </md-input-container>
        </div>
         </div>
        <div class="flex row">
          <div>
            <md-input-container>
                <input mdInput placeholder="Classification Number" formControlName="classification_number">
            </md-input-container>
        </div>

                  <div>
            <md-input-container>
                <input mdInput placeholder="Classification Type" formControlName="classification_type">
            </md-input-container>
        </div>
        <md-icon (click)="deleteClassification(i)" >delete</md-icon>
         <button (click)="deleteClassification(i)" type="button">Delete</button>
         </div>  
        </div>


    </div>-->


</div>

</form>
</div>

</div>

<custom-table 
    (deleteEvent)="responseDelete(flag)"
    (updateEvent)="responseUpdate(flag)"
    (addEvent)="responseAdd(flag)"
>
</custom-table>
</div>
<modal-box [(from)]="from" [(method)]="method" (displayModal)="checkModal(flag)" [(ids)]="Ids"></modal-box>
<!--<div *ngIf="tableData">-->
<!--<table-template [tableValues]="tableData"></table-template>-->