<div class="DivHeader">
  <div class="DivLogo">
    Search Market Share
  </div>
    <mat-card style="background-color:  #ebf0fa;">
  <div class="well2" >
    <!--<md-card>

      <md-card-content>-->
        <form (ngSubmit)="onSubmit()" [formGroup]="salesForm">


          <div class="flex row" >

  
          <div class="form-group col-sm-4">
            <label for="salesUpc">Sales UPC</label>
            <input type="text" class="form-control" id="salesUpc" placeholder="Sales UPC" formControlName="salesUpc">
              <div *ngIf="formErrors.salesUpc" class="errorMessages">
            <span class="textPosition">  {{formErrors.salesUpc}}</span>
    </div>
          </div>

  
          <div class="form-group col-sm-4">
            <label for="salesDescription">Sales Description</label>
            <input type="text" class="form-control" id="salesDescription" placeholder="Sales Description" formControlName="salesDescription">
          </div>


          <div class="form-group col-sm-4">
            <label for="salesSource">Sales Source</label>
            <input type="text" class="form-control" id="salesSource" placeholder="Sales Source" formControlName="salesSource">
          </div>


          </div>

          <div class="flex row">
<!--
          <div class="form-group col-sm-4">
            <label for="salesYear">Sales Year</label>
            <input type="text" class="form-control" id="salesYear" placeholder="Sales Year" formControlName="salesYear">
              <div *ngIf="formErrors.salesYear" class="errorMessages">
            <span class="textPosition">  {{formErrors.salesYear}}</span>
    </div>
          </div>-->


  <div class="form-group col-sm-4" *ngIf="listSalesYear">
    <label for="salesYear">Sales Year</label>
    <select class="form-control" id="salesYear" formControlName="salesYear">
<option value="" selected>Select a Sales Year</option>
<option *ngFor="let class of listSalesYear;let i = index" [value]="class.salesYear">{{class.salesYear}}</option>
</select>
  </div>







          <div class="form-group col-sm-4">
            <label for="nielsenCategory">Nielsen Category</label>
            <input type="text" class="form-control" id="nielsenCategory" placeholder="Sales Nielsen Category" formControlName="nielsenCategory">
          </div>


          <div class="form-group col-sm-4">
            <label for="salesComment">Sales Comment</label>
            <input type="text" class="form-control" id="salesComment" placeholder="Sales Comment" formControlName="salesComment">
          </div>


          </div>
          <div class="flex row">

<div class="form-group col-sm-4">
            <label for="collectionDate">
     Collection Date From
      </label>
            <div class="">
              <div class="input-group">

                <input class="form-control date1" id="collectionDate" formControlName="collectionDateFrom"  placeholder="YYYY/MM/DD" type="text" [value]=""
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar">
         </i>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label for="collectionDateTo">
     Collection Date To
      </label>
            <div class="">
              <div class="input-group">

                <input class="form-control date2" id="collectionDateTo" formControlName="collectionDateTo" placeholder="YYYY/MM/DD" type="text" [value]=""
                />
                <div class="input-group-addon">
                  <i class="fa fa-calendar">
              </i>
                </div>
              </div>
            </div>
          </div>
<div class="form-group col-sm-4">
<button style="float:right; margin-top: 28px; width:140px"  type="submit" class="btn btn-default" [disabled]="!salesForm.valid">Search</button>
</div>

</div>



<!--

<md-card-actions>
  <div style="float: right">
<button type='reset' md-raised-button>RESET</button>
</div>
</md-card-actions>
-->
</form>

<!--</md-card-content>

</md-card>-->
</div>
  </mat-card>
  
</div>

<!--<div *ngIf="tableData">-->
<!--<table-template [tableValues]="tableData"></table-template>-->
<h2 *ngIf="emptyField">

  {{emptyField}}
</h2>
<h2 *ngIf="noData">

  {{noData}}
</h2>
<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="serverDown">
  Something happened on the server
</div>
<div *ngIf="count > 0">

  <ct-table [records]="tableData" [caption]="'ROMYYY'" [index]="index" [flag]="direction[index]" [settings]="settings" (trigger)="sortBy2($event)">

  </ct-table>

</div>
<pagination [pageSize]="pageSizes" [numberOfRecords]="count" [(pageOffset)]="offset" (offSetVal)="offSetVal($event)">
</pagination>
<!--<pagination (offSet) = "onPageChange($event)"-->

