 
<div class="DivHeader">
  <div class="DivLogo">
    Search Market Share
  </div>

  <div class="bodycard">
    <md-card>

      <md-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="salesForm">


          <div class="flex row">
    
           <div>
            <md-input-container>
              <input mdInput placeholder="Sales UPC" formControlName="salesUpc">
            </md-input-container>
            </div>

                       <div>
            <md-input-container>
              <input mdInput placeholder="Sales Description" formControlName="salesDescription">
            </md-input-container>
            </div>
           <div>
            <md-input-container>
              <input mdInput placeholder="Source" formControlName="salesSource">
            </md-input-container>
            </div>
 

          </div>
          <div class="flex row">
            <div>
            <md-input-container>
              <input mdInput placeholder="Sales Year" formControlName="salesYear">
            </md-input-container>
            </div>
            <div>
            <md-input-container>
              <input mdInput placeholder="Nielsen Category" formControlName="nielsenCategory">
            </md-input-container>
            </div>
                       <div>
            <md-input-container>
              <input mdInput placeholder="Sales Comment" formControlName="salesComment">
            </md-input-container>
            </div>
          </div>
          <div class="flex row">

            <div>
              <md-input-container>
                <input mdInput placeholder="Collection Date From" [mdDatepicker]="pickerFrom" formControlName="collectionDateFrom">
                <button style="font-size: 1.2em;" mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
              </md-input-container>
              <md-datepicker #pickerFrom></md-datepicker>
            </div>

        <div>
              <md-input-container>
                <input mdInput placeholder="Collection Date to" [mdDatepicker]="pickerTo" formControlName="collectionDateTo">
                <button style="font-size: 1.2em;" mdSuffix [mdDatepickerToggle]="pickerTo"></button>
              </md-input-container>
              <md-datepicker #pickerTo></md-datepicker>
            </div>
          </div>





          <md-card-actions>
            <div style="float: right">
<button md-raised-button type="submit" [disabled]="!salesForm.valid">SUBMIT</button>
<button type='reset' md-raised-button>RESET</button>
</div>
</md-card-actions>

</form>
</md-card-content>

</md-card>
</div>
</div>

<!--<div *ngIf="tableData">-->
<!--<table-template [tableValues]="tableData"></table-template>-->
<h2 *ngIf="emptyField">

  {{emptyField}}
</h2>
<h2 *ngIf="noData">

  {{noData}}
</h2>
<div *ngIf="isLoading">
<md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div *ngIf="tableData">
  
  <ct-table [records]="tableData" 
            [caption]="'ROMYYY'" 
            [index]="index" 
            [flag]="direction[index]"
            [settings]="settings"
             (trigger)="sortBy2($event)">

  </ct-table>
</div>
<!--<pagination (offSet) = "onPageChange($event)"-->
  
<pagination [pageSize]="pageSizes" [numberOfRecords]="count" [(pageOffset)]="offset" (offSetVal)="offSetVal($event)">
</pagination>

