
/*div.flex{
    display: flex;
}*/

/*.DivHeader{
    position: relative;
    display: block;
    width: 100%;
    background-color: lightblue;
}*/
.DivLogo{

    background-color: lightblue;
    padding: 15px 15px;
    border: 2px solid lightblue;

}
.DivHeader{
    position: relative;
}
div.bodycard{
    position: relative;
}



.errorMessages{

    color: red;
    font-size: 1.1em;
    width: 100%;
    margin-left: 1px;
   

}

/*.tab{
    margin-top: 7px;
}*/

/*row > div  input, .row > div select  {
    width: 100%;
     flex: 1;
}*/