 

<div class="DivHeader">
  <div class="DivLogo">
    Search Product
  </div>

  <div class="bodycard">
    <md-card>

      <md-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="productForm">


          <div class="flex row">
    
              <md-select placeholder="Classification Name" formControlName="classification_name">
                <md-option *ngFor="let classif of Classification_name" [value]="classif">{{classif}}</md-option>

              </md-select>

            
              <md-select placeholder="Classification Number" formControlName="classification_number">
                <md-option *ngFor="let classifi of Classification_number" [value]="classifi">{{classifi}}</md-option>

              </md-select>
 

          </div>
          <div class="flex row">
            <div>
            <md-input-container>
              <input mdInput placeholder="Classification Type" formControlName="classification_type">
            </md-input-container>
            </div>
            <div>
            <md-input-container>
              <input mdInput placeholder="Manufactuer" formControlName="product_manufacturer">
            </md-input-container>
            </div>
          </div>
          <div class="flex row">

            <div>
              <md-input-container>
                <input mdInput placeholder="Brand" formControlName="product_brand">
              </md-input-container>
            </div>

            <div>
              <md-input-container>
                <input mdInput placeholder="CNF CODE" formControlName="cnf_code">
              </md-input-container>

              <div *ngIf="formErrors.cnf_code" class="errorMessages">
              <span class="textPosition">  {{formErrors.cnf_code}}</span>
              </div>
            </div>
          </div>



          <div class="flex row">
            <div>
            <md-input-container>
              <input mdInput placeholder="Cluster Number" formControlName="cluster_number">
            </md-input-container>
            
            <div *ngIf="formErrors.cluster_number" class="errorMessages">
             <span class="textPosition"> {{formErrors.cluster_number}}</span>
            </div>
            </div>
            <div>
            <md-input-container>
              <input mdInput placeholder="Description" formControlName="product_description">
            </md-input-container>
       
            <div *ngIf="formErrors.product_description" class="errorMessages">
           <span class="textPosition">   {{formErrors.product_description}}</span>
            </div>
          </div>
          <div>
            <md-input-container>
              <input mdInput placeholder="Comment" formControlName="product_comment">
            </md-input-container>
          </div>
        </div>

          <md-card-actions>
            <div style="float: right">
<button md-raised-button type="submit" [disabled]="!productForm.valid">SUBMIT</button>
<button type='reset' md-raised-button>RESET</button>
</div>
</md-card-actions>

</form>
</md-card-content>

</md-card>
</div>
</div>

<!--<div *ngIf="tableData">-->
<!--<table-template [tableValues]="tableData"></table-template>-->
<h2 *ngIf="emptyField">

  {{emptyField}}
</h2>
<h2 *ngIf="noData">

  {{noData}}
</h2>
<div *ngIf="isLoading">
<md-progress-bar mode="indeterminate"></md-progress-bar>
</div>


<div *ngIf="serverDown">
  Something happened on the server
</div>
<div *ngIf="tableData">
  
  <ct-table [records]="tableData" 
            [caption]="'ROMYYY'" 
            [index]="index" 
            [flag]="direction[index]"
            [settings]="settings"
             (trigger)="sortBy2($event)">

  </ct-table>
</div>
<!--<pagination (offSet) = "onPageChange($event)"-->
<pagination [pageSize]="pageSizes" [numberOfRecords]="count" [(pageOffset)]="offset" (offSetVal)="offSetVal($event)">
</pagination>

