<div *ngIf="from && ids" class="modalContent">
    <div class="modalMain">
        <div class="modalHeader">Add Classification <span *ngIf="method==='delete'">Delete</span></div>
        <div class="modalBody" style="margin-left: 10px;">
        
<add-classification [(credentials)]="ids"></add-classification>

</div>
<div class="modalFooter">


</div>
<div style="width: 100%; height: 25px; position: fixed; background-color:white;">
<span style=" float: right;">
<md-icon (click)="update()">close</md-icon>
</span>
</div>

</div>

</div>